.row { font-family: 'Proza Libre', sans-serif; color: #0D1F30 }
h1, h2, h3, h4, h5 { font-family: 'Cormorant Garamond', serif; }
h1 { color: #3B6670 }
h2 { color: #BD4932 }
h3, h4 { color: #2980B9}

body { background-color: Gainsboro; font-family: 'Lato', sans }

@media (max-width: 480px) {
  body { font-size: 3em; }
}

@media (max-width: 768px) {
  body { font-size: 1.4em; }
}

@media (min-width: 992px) {
    #bookmarks {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
    }
}
